.testimonio__container{
    width: min(1170px, 80%);
    height: auto;
    margin: 10px 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
}


@media (max-width:1210px){
    .testimonio__container{
        flex-flow: column;
        padding-top: 1rem;
    }
}

.testimonio__image{
    height: 100%;
    max-width:70%;
}

.testimonio__text{
    /* width: 100%; */
    height: auto;
    font-size: clamp(15px, 2vw, 18px);
    text-align: center;
    padding: 40px;
    font-family: lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.testimonio__nombre-pais{
    font-size: 1.3rem;

}


.testimonio__cargo{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.testimonio__about{
    /* font-size: 1.1rem; */
    text-align: justify;
}






